* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}
:root{
	--LoginFondoColor: #FFF;
	--BotonColor: #91d9c1;
	--SpanCheckColor: #7965e1;
	--BorderSpanCheck: #7965e1;
	--BadgeColor: #e1f5fe;
	--letraColor: #000;
	--borderColor: #009688;
	--borderColorLabel: #009688;
	--LoginFondoColor: #fff;
	--InputFondo: #fff;
	--TituloColor: #009688;
	--FondoTitulo: #fff;
	--BadgecolorLetra: #03a9f4;
	--borderSapn: #2d303a78;
	--borderWell: #009688;
	--TituloColorCentral: #009688;
		--BorderFocusForm: #7965e1;
		--LetraFormColor: #000;
	--ColorLetrasDescription: #000;

}

@font-face {
	font-family: "fuente-redonda";
	src: url(../Typo_Round_Bold_Demo.otf);

  }

  @font-face {
	font-family: "fuente-estetica";
	src: url(../GeosansLight.ttf);

  }
body{
	
	width: 100%;	
	background: #43cea2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
	margin: 0;
	padding: 0; 

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
::-webkit-scrollbar {
	display: none;
}


.contenedor-main{
	width: 100%;
	height: 657px;
	background: #FFF;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	
}

.content-imagen{
	width: 100%;
	height: 100%;
	background-image: url(../img/recorte-ojo.jpg);
	background-repeat: no-repeat;
	background-size: 95%;
	
	
}
.content-forms{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10% 20% 55% 15%;
}


.pequena-font
{
	color: #7965e1;
	font-size: 15px;
	text-decoration: none;
	font-family: "fuente-redonda";
	
}

.letra-negra{
	font-size: 15px;
	color: black;
	text-decoration: none;
	font-family: "fuente-redonda";	
}
.logo-head{
	
	display: grid;
	grid-template-columns: repeat(3, 60% 20% 20%);
	margin-top: 30px;

	.titulo-main{
		background: #fff;
		font-family: "fuente-estetica";
		font-size: 36px;
		color: #7965e1;
	}


}
.title-main{


	display: grid;
	grid-template-columns: 60% 40%;
	margin-top: 28px;

	.logo-puntos{background: #FFF;}
	.resaltar-titulo{
		color: #000;
		font-size: 50px;
		font-weight: 700;
		font-family: 'Ubuntu', sans-serif;
		/* font-family: 'PT Sans', sans-serif; */
		/* line-height: 1.2; */
		/* line-height: 0; */
		letter-spacing: -2.0px;
	
	}

	.sub-titulo{
		color: #7965e1;
		font-size: 45px;
		font-weight: 700;
		font-family: "fuente-redonda";
		line-height: 0.5;
	}

	.division {
	    width: 46px;
    height: 2px;
    background: #91d9c1;
    position: absolute;
    margin-top: 16px;


	}
}
.formulario{
	background: #FFF;
}
.footer-form{
	background: #FFF;
	display: grid;
	grid-template-rows: repeat(2,1fr);


}
.alinear-footer{

	display: flex;
	justify-content: space-between;
	margin: 0px;
	;
	margin-bottom: 15px;
    margin-right: 26px;

}

/*FORMS*/
.forms{
	width: 100%;
	height: 100%;
	justify-content: left;
    align-items: center;
    align-content: center;
	display: grid;
	color: #827f7f;
	font-family: "Poppins", sans-serif;
	margin-top: 6px;
}
.form-login {

    /* padding: 20px; */
    margin: 0px;
    background: var(--LoginFondoColor);
   /* box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
     margin-top: 30px; */
    /* position: unset; */
    overflow: hidden;
	/* width: 100%; */
	height: 100%;
	
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}	
.grid-boton{
	grid-template-columns: repeat(2, 56%);
    display: grid;
    /* grid-template-rows: 50% 50%; */
    width: 100%;
	margin: 0px;
	margin-top: 20px;

	.atras-boton{
		width: 180px;
		height: 55px;
		background: black;
		
	}
}

	.checkbox {
		margin-bottom: 30px;
	}
	.spinner__wrapper {
		display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.85);
		opacity: 0;
		z-index: -1;
	}
}

input.input-form{
  background: var(--InputFondo);
  color: var(--LetraFormColor);
  font: ubunt;
  text-transform: capitalize;
  font-size: 15px;
  
  margin: 10px;
  outline: none;
  outline-color: #f95794;
  padding: 15px;
  width: 450px; 
 
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}


input.input-form:focus{
 

  border-color: var(--BorderFocusForm);
}
.label-form{
  margin: 0px;
  
}

.checkbox{
  margin: 0px;
  
}

.titulocentral{
   margin: 15px;
  margin-top: -10px;
  padding: 0 10px;
  background: var(--FondoTitulo);
  width: 80px;
  text-align: center;
  border-radius: 10px;
  color: var(--TituloColorCentral);
}
.titulo {
  margin: 15px;
  margin-top: -10px;
  padding: 0 10px;
  background: var(--FondoTitulo);
  width: 80px;
  text-align: center;
  border-radius: 10px;
  color: var(--TituloColor);
}

a.button,
input.button,
button {
	outline: none;
	width: 103%;
	text-align: center;
	display: inline-block;
	border: none;
	color: #7965e1;
	font-size: 25px;
	font-family: "fuente-redonda";
	padding: 10px;
	cursor: pointer;
	background: var(--BotonColor);
	z-index: 1;
	position: relative;
	top: 0;
	transition: 0.2s ease;
	margin-left: 6px;
    top: -2px;
	
}

.checkbox {
	position: relative;
	user-select: none;
	margin-bottom: 10px;
	input {
		display: none;
	}
  	label {
		position: relative;
		vertical-align: middle;
		cursor: pointer;
		font-weight: 500;
		padding-left: 35px;
	}
  span.box {
		display: inline-block;
		width: 20px;
		border-radius: 5px;
		border: 1px solid var(--borderSapn);
		width: 24px;
		height: 24px;
		vertical-align: middle;
		margin-right: 3px;
		transition: 0.3s ease;
		position: absolute;
		left: 0;
  	&:before,
		&:after {
			content: "";
			position: absolute;
			width: 4px;
			height: 16px;
			border-radius: 40px;
			background: #FFF;
			transition: all 0.3s ease;
		}
    		&:before {
			transform: rotate(45deg) translateY(-5px) translateX(10px) scale(0);
		}
		&:after {
			height: 8px;
			transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(0);
		}
  }
}

 	input:checked {
		+ label {
			span.box {
				background: var(--SpanCheckColor);
				border-color: var(--BorderSpanCheck);
				&:before {
					transform: rotate(45deg) translateY(-5px) translateX(10px) scale(1);
				}
				&:after {
					height: 8px;
					transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(1);
				}
			}
		}
	}